<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('templates/head1') %> 
        <title>Registro</title>
    </head>

    <body class="p-4 bg-dark m-5">
    <div class="container p-4 my-n2">
        <div class="row p-3 mx-auto" style="place-content:center;width: fit-content;background-color: #e2e461;">
            <div class="form-row px-4 py-2 m-2">
                <form id="form-register" action="/datosregistro" method="POST" class="col s6"> <!-- datosregistro { nickname,name,lastname,email, password} -->
                    <div class="form-group p-3">
                        <div class="div mb-3"> <h4>¡Registrese para participar!</h4></div>
                    </div>
                    
                    <div class="row py-1">
                        <div class="input-field col s12"> <input required type="text" name="name" class="form-control validate" id="inputname" placeholder="Nombre y Apellido"></div>
                    </div>
                    <div class="row py-1">
                        <div class="input-field col s12"><input required type="email" name="email" class="form-control validate" id="inputemail" placeholder="Email"></div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <br>
                            <input required type="password" name="password" class="form-control validated" id="inputPassworda" placeholder="Contraseña">                        
                            <input required type="password" name="passwordb" class="form-control validated my-1" id="inputPasswordb" placeholder="Confirme la Contraseña">
                        </div>
                    </div>
                    <div class="row" style="text-align:-webkit-center">
                        <div class="input-field col s12 mt-4"> <button type="submit" class="btn btn-info" id="registrarse">Completar el Registro</button></div>
                    </div>
                </form>
            </div>
        </div>
        <!-- <script type="text/javascript" src="../functions.js"></script> -->
    </div>
        <script>
              $(document).ready(function () {

                
                function showError(sec,msg){   
                    $('.alert').html(`<span>${msg}</span>`);
                };
                
                let expregnom  =/^([A-Z]{1}[a-z\-\']+[\s]{1}[A-Z]{1}[a-z\-\']*)/;

                $('#inputname').on  ('change',function() {  let Name  =$('#inputname').val().trim();
                    if(expregnom.test(Name)==false){$(this).addClass('text-danger');$(this).removeClass('is-valid');showError(this,'Ingrese el nombre iniciando con mayuscula y sin números')}
                    else {$('.alert').html(``);$(this).removeClass('text-danger');$(this).addClass('is-valid');}
                });

                $('#inputemail').on ('change',function() {
                    var Email =$('#inputemail').val().trim();
                    if(!Email.match("^\\S+@\\S+\\.\\S+$")){$(this).addClass('text-danger');$(this).removeClass('is-valid');showError('#inputemail','El e-mail presente está mal escrito')}
                    else{$('.alert').html(``);$(this).removeClass('text-danger');$(this).addClass('is-valid');}
                });

                $('#inputPasswordb').on("change", function (){
                    let elea = $('#inputPassworda').val().trim(); let eleb = $('#inputPasswordb').val().trim();
                    if(elea!=eleb){$('#inputPassworda').removeClass('is-valid');$('#inputPasswordb').removeClass('is-valid');$('#inputPassworda').val('');$('#inputPasswordb').val('')}
                    else{ $('#inputPassworda').addClass('is-valid');  $('#inputPasswordb').addClass('is-valid');}
                });

                $('#registrarse').on("click", function (ev){
                    let okname  = $('#inputname').hasClass('is-valid');
                    let okmail  = $('#inputemail').hasClass('is-valid');

                        if(okname ==true){
                            
                            if (okmail ==false) { event.preventDefault();return alert('Hay campos con datos vacios o errados en el e-mail para el envío');};

                        } else{event.preventDefault();return alert('Hay campos con datos vacios o errados en el nombre para el envío');}

                });               
                
              });

        </script>      
    </body>
</html>